.sso-body,
.sso-landing-body {
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.sso-body {
	background-image: url("../public/images/background-sso.svg");
}

.sso-landing-body {
	background-image: url("../public/images/background-landingpage.svg");
}

.sso-register-icon {
	background-color: rgb(88 172 150 / 15%) !important;
}

.position-relative {
	position: relative;
}

.div-width-auto {
	width: auto;
}

.menu-profil {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.img-object-cover {
	object-fit: cover !important;
}

.calendar-card {
	background-color: #26B4FF;
	background-image: linear-gradient(to bottom right, #26B4FF, #108EE8);
}

.hero-bg, .cover-img-edit {
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("/images/background-cover.svg");
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.hero-bg-blur {
	display: none;
}

.dropdown-akun {
	cursor: pointer;
	padding: 12px;
}

/* .dropdown-akun:hover>.dropdown-menu {
	display: block !important;
	margin: 0px !important;
	transition: all 0.3s ease;
} */

.cursor-pointer {
	cursor: pointer;
}

.overflow-y-visible {
	overflow-y: visible;
}

input:disabled, input:disabled + label {
	cursor: not-allowed !important;
}

.preloader {
	height: 100vh
}

.dropdown-menu-right {
  right: 13px !important;
  left: auto !important;
}

#notif-toast {
	z-index: 1000;
}

@media (max-width: 768px) {
	.swipe-mobile {
		overflow: auto;
		white-space: inherit;
	}
}

#detailAgendaDeskripsi * {
	font-size: 14px;
	font-weight: normal;
	height: auto !important;
	max-width: 100%;
}