[data-theme='dark'] body {
	background-color: #141c2b;
}

[data-theme='dark'] .df-logo {
	color: #fff;
}

[data-theme='dark'] .df-logo:hover,
[data-theme='dark'] .df-logo:focus {
	color: #fff;
}

[data-theme='dark'] .navbar-header {
	background-color: #1c273c;
	border-bottom-width: 0;
}

[data-theme='dark'] .navbar-header .burger-menu:hover,
[data-theme='dark'] .navbar-header .burger-menu:focus {
	color: #fff;
}

[data-theme='dark'] .navbar-header .navbar-right .search-link {
	color: #97a3b9;
}

[data-theme='dark'] .navbar-header .navbar-right .search-link:hover,
[data-theme='dark'] .navbar-header .navbar-right .search-link:focus {
	color: #fff;
}

[data-theme='dark'] .navbar-header .navbar-right .dropdown-message .dropdown-menu,
[data-theme='dark'] .navbar-header .navbar-right .dropdown-notification .dropdown-menu {
	margin-top: 16.5px;
}

@media (min-width: 992px) {

	[data-theme='dark'] .navbar-header .navbar-right .dropdown-message .dropdown-menu,
	[data-theme='dark'] .navbar-header .navbar-right .dropdown-notification .dropdown-menu {
		margin-top: 19px;
	}
}

[data-theme='dark'] .navbar-menu-wrapper {
	background-color: #24324d;
}

@media (min-width: 992px) {
	[data-theme='dark'] .navbar-menu-wrapper {
		background-color: transparent;
	}
}

[data-theme='dark'] .navbar-menu-header {
	background-color: #1c273c;
	border-bottom-width: 0;
}

[data-theme='dark'] .navbar-menu-header a:last-child:hover,
[data-theme='dark'] .navbar-menu-header a:last-child:focus {
	color: #fff;
}

[data-theme='dark'] .navbar-menu .nav-link {
	color: #cdd4e0;
}

[data-theme='dark'] .navbar-menu .nav-label {
	color: #596882;
}

[data-theme='dark'] .navbar-menu-sub {
	border-width: 0;
}

@media (min-width: 992px) {
	[data-theme='dark'] .navbar-menu-sub {
		background-color: #24324d;
	}
}

[data-theme='dark'] .navbar-menu-sub::before {
	opacity: 0;
}

[data-theme='dark'] .navbar-menu-sub::after {
	border-bottom-color: #24324d;
}

[data-theme='dark'] .navbar-menu-sub .nav-sub-link {
	color: #cdd4e0;
}

[data-theme='dark'] .dropdown-message .dropdown-link,
[data-theme='dark'] .dropdown-notification .dropdown-link {
	color: #97a3b9;
}

[data-theme='dark'] .dropdown-message .dropdown-link.new-indicator,
[data-theme='dark'] .dropdown-notification .dropdown-link.new-indicator {
	color: #cdd4e0;
}

[data-theme='dark'] .dropdown-message .dropdown-menu,
[data-theme='dark'] .dropdown-notification .dropdown-menu {
	border-width: 0;
	background-color: #24324d;
}

[data-theme='dark'] .dropdown-message .dropdown-menu::before,
[data-theme='dark'] .dropdown-notification .dropdown-menu::before {
	opacity: 0;
}

[data-theme='dark'] .dropdown-message .dropdown-menu::after,
[data-theme='dark'] .dropdown-notification .dropdown-menu::after {
	border-bottom-color: #24324d;
}

[data-theme='dark'] .dropdown-message .dropdown-header,
[data-theme='dark'] .dropdown-notification .dropdown-header {
	color: #fff;
}

[data-theme='dark'] .dropdown-message .dropdown-item,
[data-theme='dark'] .dropdown-notification .dropdown-item {
	color: #97a3b9;
}

[data-theme='dark'] .dropdown-message .dropdown-item:hover,
[data-theme='dark'] .dropdown-message .dropdown-item:focus,
[data-theme='dark'] .dropdown-notification .dropdown-item:hover,
[data-theme='dark'] .dropdown-notification .dropdown-item:focus {
	background-color: #24324d;
}

[data-theme='dark'] .dropdown-message .dropdown-item:hover .avatar::after,
[data-theme='dark'] .dropdown-message .dropdown-item:focus .avatar::after,
[data-theme='dark'] .dropdown-notification .dropdown-item:hover .avatar::after,
[data-theme='dark'] .dropdown-notification .dropdown-item:focus .avatar::after {
	box-shadow: 0 0 0 2px #24324d;
}

[data-theme='dark'] .dropdown-message .media-body,
[data-theme='dark'] .dropdown-notification .media-body {
	color: #97a3b9;
}

[data-theme='dark'] .dropdown-message .media-body strong,
[data-theme='dark'] .dropdown-notification .media-body strong {
	color: #fff;
}

[data-theme='dark'] .dropdown-message .avatar::after,
[data-theme='dark'] .dropdown-notification .avatar::after {
	box-shadow: 0 0 0 2px #1c273c;
}

[data-theme='dark'] .dropdown-message .dropdown-footer a:hover,
[data-theme='dark'] .dropdown-message .dropdown-footer a:focus,
[data-theme='dark'] .dropdown-notification .dropdown-footer a:hover,
[data-theme='dark'] .dropdown-notification .dropdown-footer a:focus {
	color: #0168fa;
}

[data-theme='dark'] .dropdown-akun .dropdown-link:hover .avatar img,
[data-theme='dark'] .dropdown-akun .dropdown-link:focus .avatar img {
	background-color: #3b4863;
}

[data-theme='dark'] .dropdown-akun .dropdown-menu {
	border-width: 0;
	background-color: #24324d;
	margin-top: 13px;
}

@media (min-width: 992px) {
	[data-theme='dark'] .dropdown-akun .dropdown-menu {
		margin-top: 14px;
	}
}

[data-theme='dark'] .dropdown-akun .dropdown-menu::before {
	opacity: 0;
}

[data-theme='dark'] .dropdown-akun .dropdown-menu::after {
	border-bottom-color: #24324d;
}

[data-theme='dark'] .dropdown-akun .dropdown-menu h6 {
	color: #fff;
}

[data-theme='dark'] .dropdown-akun .dropdown-item {
	color: #97a3b9;
}

[data-theme='dark'] .navbar-search-header {
	background-color: #1c273c;
	border-bottom-width: 0;
}

[data-theme='dark'] .navbar-search-header .form-control {
	color: #fff;
}

[data-theme='dark'] .navbar-search-header .btn {
	color: #97a3b9;
}

[data-theme='dark'] .navbar-search-header .btn:hover,
[data-theme='dark'] .navbar-search-header .btn:focus {
	color: #fff;
}

[data-theme='dark'] .navbar-search-body {
	background-color: #192235;
}

[data-theme='dark'] .navbar-search-body a {
	color: #97a3b9;
	border-color: #596882;
}

[data-theme='dark'] .navbar-search-body a:hover,
[data-theme='dark'] .navbar-search-body a:focus {
	background-color: #0168fa;
	color: #fff;
	border-color: transparent;
}

[data-theme='dark'] .aside-header {
	background-color: #1c273c;
	border-right-color: rgba(255, 255, 255, 0.06);
}

[data-theme='dark'] .aside-logo {
	color: #fff;
}

[data-theme='dark'] .aside-logo:hover,
[data-theme='dark'] .aside-logo:focus {
	color: #fff;
}

[data-theme='dark'] .aside-menu-link:hover,
[data-theme='dark'] .aside-menu-link:focus {
	color: #fff;
}

[data-theme='dark'] .aside-body {
	background-color: #1c273c;
	border-right-width: 0;
}

[data-theme='dark'] .aside-alert-link a {
	color: rgba(255, 255, 255, 0.5);
}

[data-theme='dark'] .aside-alert-link a:hover,
[data-theme='dark'] .aside-alert-link a:focus {
	color: #fff;
}

[data-theme='dark'] .aside-alert-link a.new::before {
	box-shadow: 0 0 0 2px #1c273c;
}

[data-theme='dark'] .aside-loggedin-user a:hover,
[data-theme='dark'] .aside-loggedin-user a:focus {
	color: #fff;
}

[data-theme='dark'] .nav-aside .nav-label {
	color: #3b4863;
	font-weight: 600;
}

[data-theme='dark'] .nav-aside .nav-item ul a {
	color: #596882;
}

[data-theme='dark'] .nav-aside .nav-item ul a:hover,
[data-theme='dark'] .nav-aside .nav-item ul a:focus {
	color: #fff;
}

[data-theme='dark'] .nav-aside .nav-item.active .nav-link:hover svg,
[data-theme='dark'] .nav-aside .nav-item.active .nav-link:focus svg {
	color: #0168fa;
}

[data-theme='dark'] .nav-aside .with-sub.show:not(.active) .nav-link {
	color: #fff;
}

[data-theme='dark'] .nav-aside .with-sub.show:not(.active) .nav-link::before {
	border-color: #cdd4e0;
}

[data-theme='dark'] .nav-aside .with-sub.show:not(.active) .nav-link svg {
	color: #fff;
	fill: none;
}

[data-theme='dark'] .nav-aside .nav-link {
	color: #97a3b9;
}

[data-theme='dark'] .nav-aside .nav-link svg {
	color: #97a3b9;
	stroke-width: 1.8px;
	fill: rgba(255, 255, 255, 0.06);
}

[data-theme='dark'] .nav-aside .nav-link:hover,
[data-theme='dark'] .nav-aside .nav-link:focus {
	color: #fff;
}

[data-theme='dark'] .nav-aside .nav-link:hover svg,
[data-theme='dark'] .nav-aside .nav-link:focus svg {
	color: #fff;
}

[data-theme='dark'] .aside-backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

[data-theme='dark'] .content {
	color: #97a3b9;
}

[data-theme='dark'] .content-header {
	background-color: #1c273c;
}

[data-theme='dark'] .content-header .nav-link {
	color: rgba(255, 255, 255, 0.5);
}

[data-theme='dark'] .content-header .nav-link:hover,
[data-theme='dark'] .content-header .nav-link:focus {
	color: #fff;
}

[data-theme='dark'] .footer {
	background-color: #1c273c;
	border-top-width: 0;
}

[data-theme='dark'] .footer a {
	color: #97a3b9;
}

[data-theme='dark'] .footer a:hover,
[data-theme='dark'] .footer a:focus {
	color: #fff;
}

[data-theme='dark'] .h1,
[data-theme='dark'] .h2,
[data-theme='dark'] .h3,
[data-theme='dark'] .h4,
[data-theme='dark'] .h5,
[data-theme='dark'] .h6,
[data-theme='dark'] h1,
[data-theme='dark'] h2,
[data-theme='dark'] h3,
[data-theme='dark'] h4,
[data-theme='dark'] h5,
[data-theme='dark'] h6 {
	color: #fff;
}

[data-theme='dark'] .breadcrumb-style1 .breadcrumb-item a,
[data-theme='dark'] .breadcrumb-style2 .breadcrumb-item a,
[data-theme='dark'] .breadcrumb-style3 .breadcrumb-item a {
	color: #7987a1;
}

[data-theme='dark'] .breadcrumb-style1 .breadcrumb-item+.breadcrumb-item::before {
	color: #596882;
	font-weight: 400;
}

[data-theme='dark'] .card {
	border-width: 0;
	background-color: #1c273c;
	color: #97a3b9;
}

[data-theme='dark'] .list-label {
	background-color: #192235;
	border-color: #24324d;
}

[data-theme='dark'] .list-item {
	border-color: #24324d;
}

[data-theme='dark'] .list-group-item {
	background-color: inherit;
	border-color: rgba(255, 255, 255, 0.025);
}

[data-theme='dark'] .dropdown-divider {
	border-color: rgba(255, 255, 255, 0.06);
}

[data-theme='dark'] .link-01 {
	color: rgba(255, 255, 255, 0.85);
}

[data-theme='dark'] .link-01:hover,
[data-theme='dark'] .link-01:focus {
	color: #fff;
}

[data-theme='dark'] .link-02 {
	color: #cdd4e0;
}

[data-theme='dark'] .link-02:hover,
[data-theme='dark'] .link-02:focus {
	color: #fff;
}

[data-theme='dark'] .link-03:hover,
[data-theme='dark'] .link-03:focus {
	color: #fff;
}

[data-theme='dark'] .progress {
	background-color: #596882;
}

[data-theme='dark'] .tx-color-01 {
	color: #fff;
}

[data-theme='dark'] .tx-color-02 {
	color: #cdd4e0;
}

[data-theme='dark'] .tx-color-04 {
	color: rgba(89, 104, 130, 0.7);
}

[data-theme='dark'] .table {
	color: inherit;
}

[data-theme='dark'] .divider-text::before,
[data-theme='dark'] .divider-text::after {
	background-color: #24324d;
}

[data-theme='dark'] .form-control {
	background-color: transparent;
	border-color: #3b4863;
}

[data-theme='dark'] .form-control::placeholder {
	color: #596882;
}

[data-theme='dark'] .form-control:focus {
	background-color: transparent;
}

[data-theme='dark'] .nav-classic .nav-link {
	color: #97a3b9;
}

[data-theme='dark'] .img-group .img {
	background-color: #1c273c;
}

[data-theme='dark'] .search-form button {
	border-color: #3b4863;
}

[data-theme='dark'] .modal-content {
	background-color: #1c273c;
}

[data-theme='dark'] .bd,
[data-theme='dark'] .bd-t,
[data-theme='dark'] .bd-r {
	border-color: #24324d;
}

[data-theme='dark'] .bd-info {
	border-color: #00b8d4;
}

[data-theme='dark'] .bd-primary {
	border-color: #0168fa;
}

[data-theme='dark'] .bd-success {
	border-color: #10b759;
}

[data-theme='dark'] .bd-warning {
	border-color: #ffc107;
}

[data-theme='dark'] .bd-pink {
	border-color: #f10075;
}

[data-theme='dark'] .bd-teal {
	border-color: #00cccc;
}

[data-theme='dark'] .bd-purple {
	border-color: #6f42c1;
}

[data-theme='dark'] .table-beranda thead th,
[data-theme='dark'] .table-beranda tbody th,
[data-theme='dark'] .table-beranda tbody td {
	border-color: rgba(255, 255, 255, 0.06);
}

[data-theme='dark'] .card-beranda-table .table thead tr:first-child th {
	background-color: rgba(255, 255, 255, 0.05);
}

[data-theme='dark'] .table-beranda-two tr+tr td {
	border-top-color: rgba(255, 255, 255, 0.06);
}

[data-theme='dark'] .chart-sixteen .flot-x-axis .flot-tick-label {
	color: rgba(255, 255, 255, 0.2);
	font-weight: 400;
}

[data-theme='dark'] .activity-body {
	color: rgba(255, 255, 255, 0.5);
}

[data-theme='dark'] .activity-body strong {
	color: #fff;
}

[data-theme='dark'] .calendar-sidebar {
	background-color: #141c2b;
}

[data-theme='dark'] .ui-datepicker {
	background-color: transparent;
}

[data-theme='dark'] .ui-datepicker .ui-datepicker-title {
	color: #fff;
}

[data-theme='dark'] .ui-datepicker .ui-datepicker-calendar td {
	background-color: transparent;
	border-width: 0;
}

[data-theme='dark'] .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-other-month .ui-state-default {
	color: #3b4863;
}

[data-theme='dark'] .calendar-inline .ui-datepicker .ui-datepicker-calendar td a {
	color: #7987a1;
}

[data-theme='dark'] .calendar-inline .ui-datepicker .ui-datepicker-calendar td a:hover,
[data-theme='dark'] .calendar-inline .ui-datepicker .ui-datepicker-calendar td a:focus {
	background-color: #24324d;
	color: #fff;
}

[data-theme='dark'] .calendar-nav a {
	color: #97a3b9;
}

[data-theme='dark'] .calendar-nav a:hover,
[data-theme='dark'] .calendar-nav a:focus {
	background-color: #24324d;
	color: #fff;
}

[data-theme='dark'] .calendar-content {
	background-color: transparent;
}

[data-theme='dark'] .calendar-content-body .fc-toolbar button {
	border-width: 0;
	background-color: #3b4863;
	color: #97a3b9;
}

[data-theme='dark'] .calendar-content-body .fc-toolbar button:hover,
[data-theme='dark'] .calendar-content-body .fc-toolbar button:focus {
	background-color: #596882;
	color: #fff;
}

[data-theme='dark'] .calendar-content-body .fc-toolbar button.fc-state-active {
	background-color: #596882;
	color: #fff;
}

[data-theme='dark'] .calendar-content-body .fc-toolbar button.fc-today-button {
	background-color: #3b4863;
	color: #97a3b9;
}

[data-theme='dark'] .calendar-content-body .fc-toolbar button.fc-today-button:hover,
[data-theme='dark'] .calendar-content-body .fc-toolbar button.fc-today-button:focus {
	background-color: #596882;
	color: #fff;
}

[data-theme='dark'] .calendar-content-body .fc-toolbar button.fc-today-button.fc-state-disabled {
	background-color: #1c273c;
	color: #596882;
}

[data-theme='dark'] .calendar-content-body .fc-agendaWeek-view .fc-head-container th {
	border-color: #1f2c43;
}

[data-theme='dark'] .calendar-content-body .fc-divider {
	background-color: #192235;
	border-color: #1f2c43;
}

[data-theme='dark'] .calendar-content-body .fc-head-container .fc-day-header {
	color: #97a3b9;
}

[data-theme='dark'] .calendar-content-body .fc-other-month {
	background-color: #111724;
}

[data-theme='dark'] .calendar-content-body td.fc-today {
	background-color: #192235;
}

[data-theme='dark'] .calendar-content-body .fc-listMonth-view .fc-list-heading-main,
[data-theme='dark'] .calendar-content-body .fc-listWeek-view .fc-list-heading-main {
	color: #97a3b9;
}

[data-theme='dark'] .calendar-content-body .fc-listMonth-view .fc-list-heading-main:hover,
[data-theme='dark'] .calendar-content-body .fc-listMonth-view .fc-list-heading-main:focus,
[data-theme='dark'] .calendar-content-body .fc-listWeek-view .fc-list-heading-main:hover,
[data-theme='dark'] .calendar-content-body .fc-listWeek-view .fc-list-heading-main:focus {
	color: #97a3b9;
}

[data-theme='dark'] .calendar-content-body .fc-listMonth-view .fc-list-heading-main span:last-child,
[data-theme='dark'] .calendar-content-body .fc-listWeek-view .fc-list-heading-main span:last-child {
	color: #fff;
}

[data-theme='dark'] .calendar-content-body .fc-listMonth-view .fc-list-item,
[data-theme='dark'] .calendar-content-body .fc-listWeek-view .fc-list-item {
	background-color: #1c273c;
}

[data-theme='dark'] .calendar-content-body .fc-listMonth-view .fc-list-item-title a,
[data-theme='dark'] .calendar-content-body .fc-listWeek-view .fc-list-item-title a {
	color: #fff;
}

[data-theme='dark'] .calendar-modal-create .modal-body {
	color: #97a3b9;
}

[data-theme='dark'] .calendar-modal-create .modal-body h5 {
	color: #fff;
}

[data-theme='dark'] .calendar-modal-create .form-control {
	color: #97a3b9;
	border-color: #596882;
}

[data-theme='dark'] .calendar-modal-create .form-control:focus {
	box-shadow: none;
	border-color: #7987a1;
}

[data-theme='dark'] .calendar-modal-create select {
	background-color: transparent;
	border-color: #596882;
}

[data-theme='dark'] .calendar-modal-create .custom-control-label::before {
	border-color: #596882;
	background-color: transparent;
	margin-top: 1px;
}

[data-theme='dark'] .calendar-modal-create .custom-control-label::after {
	margin-top: 1px;
}

[data-theme='dark'] .calendar-modal-event .modal-body {
	background-color: #1c273c;
}

[data-theme='dark'] .calendar-modal-event .event-start-date,
[data-theme='dark'] .calendar-modal-event .event-end-date {
	color: #cdd4e0;
}

[data-theme='dark'] .close {
	color: #97a3b9;
}

[data-theme='dark'] .close:hover,
[data-theme='dark'] .close:focus {
	color: #cdd4e0;
}

[data-theme='dark'] .chat-navleft {
	background-color: #172032;
}

[data-theme='dark'] .chat-navleft .nav-link:not(.active) {
	color: #97a3b9;
}

[data-theme='dark'] .chat-navleft .nav-link:not(.active):hover,
[data-theme='dark'] .chat-navleft .nav-link:not(.active):focus {
	color: #fff;
}

[data-theme='dark'] .chat-sidebar {
	background-color: #141c2b;
}

[data-theme='dark'] .chat-sidebar-header {
	background-color: #172032;
}

[data-theme='dark'] .chat-sidebar-header .dropdown-link>span {
	color: #3b4863;
}

[data-theme='dark'] .chat-sidebar-header .dropdown-link:hover>span,
[data-theme='dark'] .chat-sidebar-header .dropdown-link:focus>span {
	color: #cdd4e0;
}

[data-theme='dark'] .chat-sidebar-header .dropdown-menu {
	background-color: #192235;
}

[data-theme='dark'] .chat-sidebar-header .dropdown-menu::before {
	border-bottom-color: rgba(255, 255, 255, 0.08);
}

[data-theme='dark'] .chat-sidebar-header .dropdown-menu::after {
	border-bottom-color: #192235;
}

[data-theme='dark'] .chat-sidebar-header .dropdown-item {
	color: #97a3b9;
}

[data-theme='dark'] .chat-sidebar-header .dropdown-item:hover,
[data-theme='dark'] .chat-sidebar-header .dropdown-item:focus {
	color: #fff;
	background-color: #1f2c43;
}

[data-theme='dark'] .nav-chat .nav-link {
	color: #97a3b9;
}

[data-theme='dark'] .nav-chat .nav-link:hover,
[data-theme='dark'] .nav-chat .nav-link:focus {
	background-color: #1c273c;
	color: #fff;
}

[data-theme='dark'] .nav-chat .nav-link.active {
	background-color: #1f2c43;
	color: #0168fa;
}

[data-theme='dark'] .chat-msg-list .media:hover,
[data-theme='dark'] .chat-msg-list .media:focus {
	background-color: #1c273c;
}

[data-theme='dark'] .chat-msg-list .media:hover .avatar::after,
[data-theme='dark'] .chat-msg-list .media:focus .avatar::after {
	box-shadow: 0 0 0 2px #1c273c;
}

[data-theme='dark'] .chat-msg-list .media.active {
	background-color: #1c273c;
}

[data-theme='dark'] .chat-msg-list .media.active .avatar::after {
	box-shadow: 0 0 0 2px #1c273c;
}

[data-theme='dark'] .chat-msg-list .avatar::after {
	box-shadow: 0 0 0 2px #1c273c;
}

[data-theme='dark'] .chat-sidebar-footer {
	background-color: #172032;
}

[data-theme='dark'] .chat-sidebar-footer .avatar::after {
	box-shadow: 0 0 0 2px #1c273c;
}

[data-theme='dark'] .chat-sidebar-footer a {
	color: #97a3b9;
}

[data-theme='dark'] .chat-sidebar-footer a:hover,
[data-theme='dark'] .chat-sidebar-footer a:focus {
	color: #fff;
}

[data-theme='dark'] .chat-content {
	background-color: #141c2b;
}

[data-theme='dark'] .chat-content-header {
	background-color: #172032;
}

[data-theme='dark'] .chat-content-header .avatar::after {
	box-shadow: 0 0 0 2px #1c273c;
}

[data-theme='dark'] .chat-content-header nav a {
	color: #97a3b9;
}

[data-theme='dark'] .chat-content-header nav a:hover,
[data-theme='dark'] .chat-content-header nav a:focus {
	color: #fff;
}

[data-theme='dark'] .chat-content-header nav a.active {
	color: #0168fa;
}

[data-theme='dark'] .chat-content-header .search-form .form-control,
[data-theme='dark'] .chat-content-header .search-form .btn {
	border-color: rgba(255, 255, 255, 0.08);
}

[data-theme='dark'] .chat-content-header .search-form .form-control:focus,
[data-theme='dark'] .chat-content-header .search-form .form-control:focus+.btn {
	border-color: #3b4863;
}

[data-theme='dark'] .chat-content-header .search-form .btn:hover,
[data-theme='dark'] .chat-content-header .search-form .btn:focus {
	color: #fff;
}

[data-theme='dark'] .chat-content-body {
	color: #97a3b9;
}

[data-theme='dark'] .chat-content-body .avatar::after {
	box-shadow: 0 0 0 2px #1c273c;
}

[data-theme='dark'] .chat-group .media-body h6 small {
	color: #596882;
}

[data-theme='dark'] .chat-group-divider::before,
[data-theme='dark'] .chat-group-divider::after {
	background-color: rgba(255, 255, 255, 0.06);
}

[data-theme='dark'] .chat-content-footer {
	background-color: #172032;
}

[data-theme='dark'] .chat-content-footer .chat-plus {
	color: #97a3b9;
}

[data-theme='dark'] .chat-content-footer .chat-plus:hover,
[data-theme='dark'] .chat-content-footer .chat-plus:focus {
	color: #fff;
}

[data-theme='dark'] .chat-content-footer .form-control {
	color: #cdd4e0;
}

[data-theme='dark'] .chat-content-footer .form-control::placeholder {
	color: #3b4863;
}

[data-theme='dark'] .chat-content-footer nav a {
	color: #97a3b9;
}

[data-theme='dark'] .chat-content-footer nav a:hover,
[data-theme='dark'] .chat-content-footer nav a:focus {
	color: #fff;
}

[data-theme='dark'] .chat-sidebar-right {
	background-color: #172032;
}

[data-theme='dark'] .chat-sidebar-right .avatar::after {
	box-shadow: 0 0 0 2px #1c273c;
}

[data-theme='dark'] .chat-member-list .media:hover,
[data-theme='dark'] .chat-member-list .media:focus {
	background-color: #24324d;
}

[data-theme='dark'] .app-chat .modal-body h6 {
	color: #cdd4e0;
}

[data-theme='dark'] .app-chat .modal-body .form-control {
	background-color: transparent;
	color: #cdd4e0;
	border-color: #596882;
}

[data-theme='dark'] .app-chat .modal-body .btn-outline-light {
	border-color: #596882;
}

[data-theme='dark'] .contact-navleft {
	background-color: #172032;
}

[data-theme='dark'] .contact-navleft .nav-link {
	color: rgba(255, 255, 255, 0.5);
}

[data-theme='dark'] .contact-navleft .nav-link:hover,
[data-theme='dark'] .contact-navleft .nav-link:focus {
	color: #fff;
}

[data-theme='dark'] .contact-sidebar {
	background-color: #141c2b;
}

[data-theme='dark'] .contact-sidebar-header {
	background-color: #172032;
}

[data-theme='dark'] .contact-list .media .avatar::after {
	box-shadow: 0 0 0 2px #141c2b;
}

[data-theme='dark'] .contact-list .media:hover,
[data-theme='dark'] .contact-list .media:focus {
	background-color: #1c273c;
	color: #fff;
}

[data-theme='dark'] .contact-list .media:hover .avatar::after,
[data-theme='dark'] .contact-list .media:focus .avatar::after {
	box-shadow: 0 0 0 2px #1c273c;
}

[data-theme='dark'] .contact-list .media.active {
	background-color: #1f2c43;
}

[data-theme='dark'] .contact-list .media.active .avatar::after {
	box-shadow: 0 0 0 2px #1f2c43;
}

[data-theme='dark'] .contact-list-divider::before,
[data-theme='dark'] .contact-list-divider::after {
	background-color: #212e46;
}

[data-theme='dark'] .contact-content {
	background-color: #141c2b;
}

[data-theme='dark'] .contact-content-header {
	background-color: #172032;
}

[data-theme='dark'] .contact-content-body {
	color: rgba(255, 255, 255, 0.8);
}

[data-theme='dark'] .contact-content-body .nav-social .nav-link {
	color: #cdd4e0;
}

[data-theme='dark'] .contact-content-body .nav-social .nav-link:hover,
[data-theme='dark'] .contact-content-body .nav-social .nav-link:focus {
	color: #0168fa;
}

[data-theme='dark'] .contact-content-sidebar {
	background-color: #172032;
	color: #cdd4e0;
}

[data-theme='dark'] .contact-content-nav .nav-link {
	color: #fff;
}

[data-theme='dark'] .contact-content-nav .nav-link:hover,
[data-theme='dark'] .contact-content-nav .nav-link:focus {
	color: #0168fa;
}

[data-theme='dark'] .filemgr-sidebar {
	background-color: #141c2b;
}

[data-theme='dark'] .filemgr-sidebar-header {
	background-color: #172032;
}

[data-theme='dark'] .filemgr-sidebar-header .dropdown-menu {
	border-width: 0;
	background-color: #293958;
}

[data-theme='dark'] .filemgr-sidebar-header .dropdown-item {
	color: #cdd4e0;
}

[data-theme='dark'] .filemgr-sidebar-header .dropdown-item:hover,
[data-theme='dark'] .filemgr-sidebar-header .dropdown-item:focus {
	background-color: #212e46;
	color: #fff;
}

[data-theme='dark'] .filemgr-sidebar-body {
	color: #97a3b9;
}

[data-theme='dark'] .filemgr-sidebar-body .nav-sidebar .nav-link {
	color: #97a3b9;
}

[data-theme='dark'] .filemgr-sidebar-body .nav-sidebar .nav-link:hover,
[data-theme='dark'] .filemgr-sidebar-body .nav-sidebar .nav-link:focus {
	background-color: #1c273c;
	color: #fff;
}

[data-theme='dark'] .filemgr-sidebar-body .nav-sidebar .nav-link.active {
	background-color: #1f2c43;
}

[data-theme='dark'] .filemgr-content-body {
	background-color: #141c2b;
}

[data-theme='dark'] .dropdown-file .dropdown-link:hover,
[data-theme='dark'] .dropdown-file .dropdown-link:focus {
	color: #cdd4e0;
}

[data-theme='dark'] .dropdown-file .dropdown-menu {
	border-width: 0;
	background-color: #293958;
}

[data-theme='dark'] .dropdown-file .dropdown-item {
	color: #cdd4e0;
}

[data-theme='dark'] .dropdown-file .dropdown-item:hover,
[data-theme='dark'] .dropdown-file .dropdown-item:focus {
	background-color: #212e46;
	color: #fff;
}

[data-theme='dark'] .card-file-thumb {
	background-color: #192235;
}

[data-theme='dark'] .media-folder {
	border-width: 0;
	background-color: #1c273c;
}

[data-theme='dark'] .app-mail .backdrop {
	visibility: hidden;
}

[data-theme='dark'] .mail-sidebar {
	background-color: #141c2b;
}

[data-theme='dark'] .mail-sidebar-body .nav-sidebar .nav-link {
	color: #97a3b9;
}

[data-theme='dark'] .mail-sidebar-body .nav-sidebar .nav-link:hover,
[data-theme='dark'] .mail-sidebar-body .nav-sidebar .nav-link:focus {
	background-color: #1c273c;
	color: #fff;
}

[data-theme='dark'] .mail-sidebar-body .nav-sidebar .nav-link.active {
	background-color: #1f2c43;
}

[data-theme='dark'] .mail-group {
	background-color: #141c2b;
}

[data-theme='dark'] .mail-group-header {
	background-color: #172032;
}

[data-theme='dark'] .mail-group-label {
	background-color: #111724;
}

[data-theme='dark'] .mail-group-body .media {
	background-color: transparent;
}

[data-theme='dark'] .mail-group-body .media:hover,
[data-theme='dark'] .mail-group-body .media:focus {
	background-color: #192235;
}

[data-theme='dark'] .mail-group-body .media+.media {
	border-top-color: #1c273c;
}

[data-theme='dark'] .mail-group-body .media.unread {
	background-color: #1c273c;
}

[data-theme='dark'] .mail-group-body .media.unread:hover,
[data-theme='dark'] .mail-group-body .media.unread:focus {
	background-color: #1c273c;
}

[data-theme='dark'] .mail-group-body .media.selected {
	background-color: #24324d;
}

[data-theme='dark'] .mail-group-body .media.selected:hover,
[data-theme='dark'] .mail-group-body .media.selected:focus {
	background-color: #24324d;
}

[data-theme='dark'] .mail-content {
	background-color: #141c2b;
}

[data-theme='dark'] .mail-content-header {
	background-color: #172032;
}

[data-theme='dark'] .mail-content-body {
	background-color: transparent;
	color: #97a3b9;
}

[data-theme='dark'] .mail-content-body .ql-editor {
	color: #97a3b9;
}

[data-theme='dark'] .mail-content-body .ql-snow.ql-toolbar button .ql-stroke {
	stroke: #596882;
}

[data-theme='dark'] .mail-content-body .ql-snow.ql-toolbar button:hover,
[data-theme='dark'] .mail-content-body .ql-snow.ql-toolbar button:focus {
	background-color: #1c273c;
}

[data-theme='dark'] .mail-content-body .ql-snow.ql-toolbar button:hover .ql-stroke,
[data-theme='dark'] .mail-content-body .ql-snow.ql-toolbar button:focus .ql-stroke {
	stroke: #fff;
}

[data-theme='dark'] .mail-compose-body {
	border-width: 0;
	background-color: #172032;
	box-shadow: none;
	color: #97a3b9;
}

[data-theme='dark'] .mail-compose-body .form-control {
	background-color: transparent;
}

[data-theme='dark'] .mail-compose-body .form-control::placeholder {
	color: #596882;
}

[data-theme='dark'] .mail-compose-body .ql-editor {
	color: #97a3b9;
}

[data-theme='dark'] .mail-compose-body .ql-snow.ql-toolbar button .ql-stroke {
	stroke: #596882;
}

[data-theme='dark'] .mail-compose-body .ql-snow.ql-toolbar button:hover,
[data-theme='dark'] .mail-compose-body .ql-snow.ql-toolbar button:focus {
	background-color: #1c273c;
}

[data-theme='dark'] .mail-compose-body .ql-snow.ql-toolbar button:hover .ql-stroke,
[data-theme='dark'] .mail-compose-body .ql-snow.ql-toolbar button:focus .ql-stroke {
	stroke: #fff;
}

[data-theme='dark'] .page-akun .avatar::after {
	box-shadow: 0 0 0 1.5px #141c2b;
}

[data-theme='dark'] .list-inline-skills .list-inline-item a {
	background-color: #1c273c;
	border-color: #212e46;
	color: #97a3b9;
}

[data-theme='dark'] .akun-info-list a {
	color: #97a3b9;
}

[data-theme='dark'] .df-settings .bd-t {
	border-color: rgba(72, 94, 144, 0.16);
}

[data-theme='dark'] .df-settings-link {
	border-width: 0;
	box-shadow: none;
}

[data-theme='dark'] .df-settings-body {
	border-left-width: 0;
}

[data-theme='dark'] a[role="button"] {
	color: #FFFFFF !important;
}